$laptop: 1350px;
$pad: 1200px;
$padmini: 992px;
$mobile: 767px;

$white: #fff;
$black: #000;
$black-secondary: #181818;
$dark: #062550;
$gray: #9FAFC8;
$gray-text: #636870;
$background: #E5E5E5;

$primary-light: #99C0FF;
$primary-medium: #5893ED;
$primary-dark: #1165E6;
$primary-dark-2: #0452CA;

$secondary-red: #FF9999;
$secondary-red-light: #FFB7B7;
$secondary-red-dark: #FD6A6A;

$green: #65B32E;
$blue-dark: #253B66;
$blue: #184093;
$red: #FF3358;

$font-main:'Manrope', sans-serif;